# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
bin/
obj/
*.user
*.suo
# Visual Studio
.vs/
*.user
*.suo

# Build folders
Debug/
Release/
x64/
x86/
build/
bin/
obj/

# C++ build files
*.obj
*.pdb
*.ilk
*.idb
*.log
*.tlog
*.exe
